In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.1)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [ ]:
from faker import Faker
import numpy as np
faker = Faker()

In [ ]:
#bk.user
for i in range(100):
  print("INSERT INTO bk.user ( name, second_name, gender, mail, username, password, date_of_birth)")
  print("VALUES(", "'"+faker.first_name()+"'",',',"'"+faker.last_name()+"'",',', "'"+(np.random.choice(["male", "female"], p=[0.5, 0.5]))+"'",',',"'"+faker.email()+"'",
        ',',"'"+faker.user_name()+"'", ',',
        "'"+faker.password()+"'",',' "'"+str(faker.date_of_birth(minimum_age = 19))+"'",");")
  print()

In [ ]:
#bc.country
for i in range(40):
  print("INSERT INTO bk.country ( name)")
  print("VALUES( '" + faker.country() + "'"+");")

In [ ]:
#bk.city
import random
for i in range(100):
  print("INSERT INTO bk.city (name, country_id)")
  print("VALUES( '" + faker.city() + "'"+", "+ str(random.randint(1, 40))+");")

In [ ]:
#bk.owner
for i in range(50):
  print("INSERT INTO bk.owner ( name, second_name, gender, mail, username, password, date_of_birth)")
  print("VALUES(", "'"+faker.first_name()+"'",',',"'"+faker.last_name()+"'",',', "'"+(np.random.choice(["male", "female"], p=[0.5, 0.5]))+"'",',',"'"+fake.email()+"'",
        ',',"'"+faker.user_name()+"'", ',',
        "'"+faker.password()+"'",',' "'"+str(faker.date_of_birth(minimum_age = 19))+"'",");")

In [ ]:
#bk.type_facilities_of_hotel
mas = ["'free parking'", "'swimming pool'", "'sauna'", "'fitness'", "'medicine'", "'animation'", "'free transfer from airport'"]
for i in mas:
  print("INSERT INTO bk.type_facilities_of_hotel (name)")
  print("VALUES(" + i +");")

In [ ]:
#bk.type_service
mas = ["'rent transport'", "'massage'", "'rent boosted wifi'", "'fitness coach'", "'rent of banquet halls'", "'sightseeing tour'", "'beauty and wellness treatments'"]
for i in mas:
  print("INSERT INTO bk.type_service (name)")
  print("VALUES(" + i +");")

In [ ]:
#bk.type_facilities_of_room
mas = ["'daily housekeeping'", "'TV'", "'balcon'", "'shower'", "'double bed'", "'single bed'", "'set of towels'", "'wash set'",
       "'cupboard'", "'safe'"]
for i in mas:
  print("INSERT INTO bk.type_facilities_of_room (name)")
  print("VALUES(" + i +");")

In [ ]:
#bk.hotel
import random
mas = ["Resort & Spa", "Hotel", "Supreme Palace Hotel"]
for i in range(50):
  print("INSERT INTO bk.hotel (name, region, street, house, number_of_stars, rating, geolocation, need_for_previous_payment, owner_id, city_id)")
  print("VALUES (" + "'" + faker.first_name()+ ' ' + (np.random.choice(mas)) + "' ," +
                 "'"  + faker.administrative_unit()  + "', " + "'" + faker.street_name() + "', "+ 
                 "'" + faker.building_number() + "', " + str(random.randint(1, 5)) + ", " + str(random.uniform( 0 , 10)) + ", "
                 "'" + str(faker.latitude()) + ' ' + str(faker.longitude()) + "', " 
                  + str(random.uniform(0 , 100)) + ", " + str(random.randint(1, 50)) + ", " + str(random.randint(1, 100)) +      
        ");")

In [ ]:
#bk.booking_history
from datetime import datetime as dt

year = [2020, 2021, 2019, 2017, 2018]
month = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12]
day = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
delta = [2, 5, 6, 7, 8]
for i in range(50):
  some= str(random.choice(year)) + '-' + str(random.choice(month)) + '-'
  day1 = random.choice(day)
  print("INSERT INTO bk.booking_history (check_in_date, check_out_date, user_id, hotel_id)")
  print("VALUES (" + "'"+ some + str(day1) + "', " + "'" + some + str(day1 + random.choice(delta)) + "', " 
                 + str(random.randint(1, 103)) + ", " + str(random.randint(1, 50))
          + ");")

In [ ]:
#bk.review
for i in range(100):
  location = random.randint(5, 10)
  area_for_shopping = random.randint(5, 10)
  purity= random.randint(5, 10)
  price_quality_ratio= random.randint(5, 10)
  facilities= random.randint(5, 10)
  comfort= random.randint(5, 10)
  staff= random.randint(2, 10)
  free_wifi= random.randint(0, 10)
  rating = (location + area_for_shopping + purity + price_quality_ratio + facilities + comfort + staff + free_wifi) / 8
  description ="'" + faker.text(30) + "'"
  user_id = random.randint(1, 103)
  hotel_id = random.randint(1, 50)
  print("INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)")
  print("VALUES(" + str(location) +", "  + str(area_for_shopping) +", "  + str(purity)+", " + str(price_quality_ratio)+", " + str(facilities)+", " 
        + str(comfort) +", " + str(staff) +", " + str(free_wifi)+", " + str(rating)+ ", " + description + ", " + str(user_id) +", " + str(hotel_id) + 
        ");")

INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 8, 6, 5, 8, 5, 7, 0, 6.0, 'War benefit chance hear rate.', 77, 5);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 9, 5, 5, 8, 5, 7, 7, 6.375, 'Challenge rate rule.', 91, 6);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 7, 5, 8, 8, 8, 6, 1, 6.5, 'Which very provide draw star.', 56, 45);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 10, 6, 7, 6, 9, 6, 5, 6.75, 'Worker song manage concern.', 39, 10);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 8, 10, 6, 7, 7, 10, 9, 8.0, 'Miss color work both.', 100, 14);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 5, 8, 5, 8, 5, 9, 7, 6.625, 'Write who some coach.', 95, 31);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 9, 9, 6, 9, 5, 3, 3, 6.75, 'Enough growth concern.', 65, 42);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 7, 5, 9, 7, 7, 6, 5, 6.625, 'Environment mouth history.', 66, 3);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 10, 10, 6, 10, 6, 4, 9, 7.75, 'Himself two kitchen word.', 50, 29);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 5, 6, 6, 9, 9, 4, 0, 6.125, 'Such moment sure stuff.', 48, 8);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 5, 5, 6, 8, 8, 7, 9, 6.875, 'Stock traditional drug range.', 57, 44);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 7, 10, 10, 10, 10, 8, 9, 9.125, 'Far produce somebody eye.', 57, 30);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 8, 9, 6, 7, 8, 4, 10, 7.625, 'Strategy start chair.', 61, 2);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 9, 8, 7, 10, 8, 5, 8, 8.125, 'Gun bar weight who sit TV.', 25, 19);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 10, 6, 5, 5, 10, 8, 0, 6.125, 'Ball only above like rise.', 81, 21);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 7, 7, 10, 8, 7, 10, 1, 7.5, 'Develop white only fund.', 68, 9);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 5, 10, 10, 9, 6, 5, 5, 7.375, 'Quite night about.', 56, 39);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 7, 10, 6, 6, 8, 7, 3, 7.0, 'Civil book decade student.', 86, 19);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 10, 8, 7, 7, 9, 4, 3, 7.125, 'Hundred body score.', 52, 5);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 7, 10, 7, 8, 9, 3, 2, 6.5, 'Soldier week fill threat.', 34, 31);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 6, 10, 8, 5, 6, 4, 1, 5.875, 'Common down food because.', 13, 15);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 10, 5, 9, 10, 9, 10, 1, 8.0, 'Impact seven decide training.', 1, 13);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 5, 7, 7, 10, 8, 6, 7.125, 'When along fish enough.', 88, 46);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 10, 10, 5, 8, 8, 10, 5, 8.0, 'Keep loss respond manager.', 8, 38);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 8, 6, 5, 8, 7, 5, 2, 6.375, 'Policy hotel sort serve.', 40, 21);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 5, 6, 5, 10, 6, 4, 7, 6.5, 'Or several low open moment.', 36, 6);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 9, 8, 7, 10, 6, 7, 10, 8.125, 'Day security purpose skin.', 71, 1);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 6, 5, 8, 5, 8, 10, 10, 7.125, 'Energy ask entire put.', 25, 17);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 5, 9, 9, 8, 10, 2, 7, 7.5, 'Capital rate may yet body.', 90, 7);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 9, 7, 7, 7, 5, 9, 7.25, 'Simply scientist and place.', 52, 28);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 8, 7, 7, 8, 6, 9, 7, 7.375, 'Power fill talk economic.', 32, 16);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 7, 5, 5, 9, 7, 5, 0, 6.0, 'People her require live tree.', 9, 20);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 5, 9, 6, 6, 10, 7, 5, 7.0, 'Writer lead each around.', 6, 49);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 6, 8, 8, 10, 5, 9, 9, 7.75, 'Spend set left team myself.', 19, 43);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 7, 9, 7, 6, 5, 3, 0, 5.375, 'Owner short special of.', 93, 34);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 10, 5, 10, 7, 8, 3, 6, 7.25, 'Into city itself morning.', 65, 49);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 10, 6, 8, 7, 6, 8, 4, 7.0, 'Television son sure yourself.', 4, 11);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 7, 9, 9, 7, 5, 8, 10, 8.125, 'Very picture place appear.', 2, 50);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 8, 8, 6, 8, 6, 7, 10, 7.875, 'Maintain after suggest.', 39, 50);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 6, 8, 5, 5, 10, 3, 5, 6.375, 'Impact offer compare lose.', 6, 30);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 6, 10, 8, 9, 9, 9, 3, 7.875, 'When amount defense week.', 83, 2);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 9, 9, 10, 7, 5, 7, 4, 7.375, 'Page of method music.', 17, 32);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 5, 9, 6, 5, 7, 4, 3, 6.0, 'Carry give politics worker.', 20, 24);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 5, 9, 10, 6, 8, 9, 1, 7.25, 'Before wall by oil play.', 100, 14);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 8, 7, 6, 6, 5, 2, 10, 6.375, 'Magazine term prove.', 55, 33);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 7, 6, 10, 7, 8, 5, 4, 6.75, 'Box hotel order either.', 55, 27);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 10, 8, 7, 5, 10, 8, 0, 6.875, 'Use agree half.', 21, 5);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 8, 9, 5, 9, 9, 7, 5, 7.375, 'Eat guy why property product.', 101, 3);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 9, 9, 5, 10, 6, 6, 2, 6.75, 'Several bad former see money.', 91, 17);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 6, 8, 10, 8, 9, 9, 10, 8.25, 'Six stock TV memory practice.', 34, 41);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 5, 5, 10, 10, 5, 7, 8, 7.125, 'Season represent then social.', 98, 24);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 9, 5, 9, 5, 9, 1, 6.5, 'Conference bad conference.', 64, 37);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 8, 10, 7, 6, 10, 4, 4, 7.125, 'Cut do article race down.', 27, 30);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 7, 6, 7, 6, 7, 2, 6, 5.75, 'Effect of ask.', 68, 18);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 5, 7, 5, 5, 10, 10, 10, 7.5, 'Analysis board enter tax.', 19, 31);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 7, 10, 8, 8, 2, 2, 6.375, 'Building particularly down.', 84, 9);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 6, 8, 9, 8, 7, 9, 7.625, 'Move order knowledge.', 103, 4);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 7, 5, 6, 9, 10, 5, 6, 7.0, 'Arm rest expert city.', 37, 28);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 6, 6, 6, 6, 7, 5, 8, 6.125, 'Bank like record air.', 92, 3);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 7, 10, 5, 6, 9, 3, 10, 6.875, 'Stand work their three.', 78, 12);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 6, 10, 7, 8, 6, 6, 4, 7.0, 'Teacher stuff game six real.', 79, 18);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 5, 5, 7, 6, 7, 3, 4, 5.625, 'Although officer fall.', 3, 15);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 8, 10, 7, 6, 7, 4, 3, 6.875, 'Attack your interview.', 1, 29);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 8, 10, 5, 8, 8, 3, 9, 7.125, 'Glass involve cover room.', 4, 14);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 9, 5, 8, 6, 5, 2, 6, 6.125, 'Future positive no wear over.', 92, 33);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 9, 5, 7, 8, 9, 4, 7, 7.375, 'Operation pass style author.', 36, 11);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 5, 9, 6, 7, 7, 3, 6, 6.625, 'Fact argue who.', 68, 19);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 7, 7, 6, 9, 5, 10, 4, 6.625, 'Lawyer adult amount third.', 69, 2);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 10, 6, 8, 6, 8, 8, 10, 8.25, 'Firm article our edge.', 72, 45);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 10, 10, 8, 10, 9, 3, 5, 7.5, 'Short evidence any risk rise.', 97, 30);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 5, 10, 7, 6, 5, 8, 3, 6.75, 'Nature home seem scientist.', 35, 12);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 7, 9, 7, 5, 5, 4, 4, 5.75, 'Miss road network.', 63, 45);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 6, 6, 7, 5, 5, 9, 1, 5.625, 'About through instead.', 94, 46);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 9, 9, 9, 10, 8, 9, 0, 7.875, 'Begin nor begin bank realize.', 66, 44);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 10, 8, 10, 10, 10, 4, 5, 7.875, 'True degree many.', 99, 16);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 6, 10, 9, 7, 9, 2, 10, 7.25, 'Teach as for teach.', 3, 8);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 5, 10, 6, 8, 7, 7, 9, 7.125, 'Cost rise them letter.', 6, 34);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(6, 7, 6, 9, 6, 5, 5, 8, 6.5, 'Arm director go push.', 95, 41);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 7, 6, 8, 9, 9, 9, 2, 7.125, 'Light by society head seem.', 80, 41);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(5, 8, 8, 8, 10, 5, 9, 2, 6.875, 'Woman forward cell hundred.', 99, 11);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(10, 10, 9, 9, 10, 10, 3, 1, 7.75, 'Feel throughout will.', 97, 44);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(8, 7, 6, 8, 6, 6, 5, 6, 6.5, 'Meet sing special serve.', 20, 18);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(9, 7, 8, 7, 7, 5, 7, 1, 6.375, 'Scene huge beyond every.', 81, 9);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)
VALUES(7, 7, 6, 7, 5, 5, 5, 4, 5.75, 'Go time list business.', 9, 38);
INSERT INTO bk.review (location, area_for_shopping, purity, price_quality_ratio, facilities, comfort, staff, free_wifi, rating, description, user_id, hotel_id)

In [ ]:
#bk.facilities_of_hotel
for i in range(100):
  hotel = str(random.randint(1, 50))
  for j in range(5):
    print("INSERT INTO bk.facilities_of_hotel (description, hotel_id, facilities_id)")
    print("VALUES(" + "'" + faker.text(30) + "', " + hotel + ", " + str(random.randint(1, 10)) + ");")

In [ ]:
#bk.service
for i in range(20):
  hotel = str(random.randint(1, 50))
  for j in range(5):
    print("INSERT INTO bk.service (price, description, hotel_id, service_id)")
    print("VALUES("  + str(random.randint(1, 100)) +", "+"'"+ faker.text(30) + "', " + hotel + ", " + str(random.randint(1, 7)) + ");")

In [ ]:
#bk.room
for i in range(1, 51):
  n = random.randint(1, 4)
  for j in range(1, n):
    k = random.randint(1, 4)
    for c in range(1, k):
      print("INSERT INTO bk.room (level, number_of_room, number_of_seats, standard_price, hotel_id)")
      print("VALUES("+ str(j) +", " + "'" + str(c)+ "', " + str(random.randint(1, 4))+ ", "+ str(random.randint(1, 100))+", " + str(i) +");")

In [ ]:
#bk.facilities_of_room
for i in range(100):
  room = str(random.randint(1, 50))
  for j in range(5):
    print("INSERT INTO bk.facilities_of_room (description, room_id, type_facilities_of_room_id)")
    print("VALUES(" + "'" + faker.text(30) + "', " + room + ", " + str(random.randint(1, 10)) + ");")

In [ ]:
#bk.reserved
year = [2023, 2022]
month = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12]
day = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
delta = [2, 5, 6, 7, 8]
for i in range(50):
  some= str(random.choice(year)) + '-' + str(random.choice(month)) + '-'
  day1 = random.choice(day)
  print("INSERT INTO bk.reserved (check_in_date, check_out_date, sale, flag, room_id ,user_id)")
  print("VALUES (" + "'"+ some + str(day1) + "', " + "'" + some + str(day1 + random.choice(delta)) + "', " 
                  + str(random.randint(0, 99)) + ", " + random.choice(["TRUE", "FALSE"]) + ", " + str(random.randint(1, 122)) + ", " + str(random.randint(1, 103))
          + ");")